.coinInfoContainer{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    position: relative;
    background-color: var(--lightGrey);
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 2px var(--lightGrey);
}

.coinInfoContainer p{
    color: var(--black);
    text-align: justify;
    line-height: 1.68rem;
    margin-bottom: 0.4rem;
}

.coinInfoContainer p a{
    color: var(--blue);
    text-decoration: underline;
    font-weight: 500;
}

.coinInfoContainer p a:hover{
    color: var(--orange);
}

.coinInfoContainer span{
    color: var(--orange);
    font-weight: 600;
    cursor: pointer;
    font-size: 2rem;
}

.coinInfoContainer h2{
    color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.2rem;
}

@media screen and (max-width: 680px) {

    .coinInfoContainer{
        padding: 0.88rem 1rem;
    }
    .coinInfoContainer h2{
        font-size: 1.28rem;
    }
    .coinInfoContainer p{
        font-size: 0.88rem;
    }
}

@media screen and (max-width: 380px) {
    .coinInfoContainer{
        padding: 0.6rem 0.8rem;
    }
    .coinInfoContainer h2{
        font-size: 1.1rem;
    }
    .coinInfoContainer p{
        font-size: 0.7rem;
    }
}